In [ ]:
# Printing message 
message = " There are seven oceans on Earth "
print(message)

In [6]:
# Printing message storing in a variable
a = " Fly high in the Sky"
print(a)

 Fly high in the Sky

In [7]:
# Changing message in same variable and printing it
a = " Python is easy to learn"
print(a)

 Python is easy to learn

In [9]:
# Printing person name with message 
name = " Chandu"
print("Hello" + name +"," +" would you like to learn some Python today ?")

Hello Chandu, would you like to learn some Python today ?

In [12]:
# Printing person name and his famous quote
person = "Rudyard Kipling once said, "
quote = "\"He travels the fatsest who travels alone\""
print(person + quote)

Rudyard Kipling once said, "He travels the fatsest who travels alone"

In [13]:
# Printing own message 
famous_person = "Sachin Tendulkar"
message = " \" is the God of Cricket\""
print(famous_person + message)

Sachin Tendulkar " is the God of Cricket"

In [15]:
# Printing arithmetic operations output
print(888-880)
print(1+7)
print(8*1)
print(int(64/8))

8
8
8
8

In [18]:
# Printing my favourite number 
favourite_number = 2
print("My favourite number is: " + str(favourite_number))

My favourite number is: 2

In [19]:
names = ["Abhi","Santhsoh","Sai","Chakri"]
for x in names:
    print(x)

Abhi
Santhsoh
Sai
Chakri

In [20]:
names = ["Abhi","Santhsoh","Sai","Chakri"]
for x in names:
    print(x + " and me studied in same school")

Abhi and me studied in same school
Santhsoh and me studied in same school
Sai and me studied in same school
Chakri and me studied in same school

In [23]:
cars = ["Tata Motors","Maruti Suzuki","Hyundai","Renault"]
for x in cars:
    print("I would like to own a "+x +" Car")

I would like to own a Tata Motors Car
I would like to own a Maruti Suzuki Car
I would like to own a Hyundai Car
I would like to own a Renault Car